<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>test</h1>
        <table>

<tbody>
    {% for material in materials %}
    <tr>
        <td>{{ material.id }}</td>
        <td>{{ material.name }}</td>
    </tr>
    {% endfor %}
</tbody>
 </table>

        {# ... #}
    </body>
</html>